{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h2 class="pb-5">Profile</h2>

    <div class="row">
        <div class="col-6">
            <div class="pl-0">
                <table class="table table-borderless text-light">
                    <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{ employee.user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Department</th>
                        <td>{{ employee.department }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if user_id != 'have_id' %}
            <div class="col-6 mt-3">
                <a href="{% url 'change-password' %}" class="btn btn-info"><i class="fa fa-key"></i>&nbsp;&nbsp;Change Password</a>
            </div>
            {% endif %}
        </div>


    </div>
{% endblock %}