{% extends "base.html" %}
{% block title %}Request Document Creation{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-8"><h2 class="pb-5">Document Creation Request Form</h2></div>
        <div class="col-4 text-right">
            <button class="btn btn-info btn-rand">Fill Random</button>
        </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors.as_text }}
            </div>
            <div class="col-6">
                <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                {{ form.type }}
                {{ form.type.errors.as_text }}
            </div>
            <div class="col-6 mt-2">
                <label for="{{ form.version.id_for_label }}">{{ form.version.label }}</label>
                {{ form.version }}
                {{ form.version.errors.as_text }}
            </div>
            <div class="col-6 mt-2">
                <label for="{{ form.running_no.id_for_label }}">{{ form.running_no.label }}</label>
                {{ form.running_no }}
                {{ form.running_no.errors.as_text }}
            </div>
            <div class="col-12 mt-2">
                <label for="{{ form.parent_doc.id_for_label }}">{{ form.parent_doc.label }}</label>
                {{ form.parent_doc }}
                {{ form.parent_doc.errors.as_text }}
            </div>
        </div>

        <input type="submit" class="btn btn-info mt-3" value="Submit">
    </form>
    <script>

        doc_name = [
            "Langley Titanium Watchet",
            "Denier Silver Puce",
            "Fresnel Nickel Jessamy",
            "Darcy Platinum Terracotta",
            "Gauss Steel Amaranthine",
            "Mnemon Platinum Ochre",
            "Hand Platinum Albicant",
            "Peck Nickel Olivaceous",
            "Quad Platinum Whey",
            "Span Tin Porphyrous",
        ];

        doc_type = ["M", "P", "W", "F"];

        $(".btn-rand").click(() => {
            $("#id_name").val(doc_name[parseInt(Math.random() * doc_name.length - 1)]);
            $("#id_type").val(doc_type[parseInt(Math.random() * doc_type.length - 1)]);
            $("#id_version").val(parseInt(Math.random() * 5) + 1);
            $("#id_running_no").val(parseInt(Math.random() * 5) + 1);
        });
    </script>
{% endblock %}