{% extends "base.html" %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table">
            <thead>
                <tr>
                    <th scope="col">Document Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Create Date</th>
                    <th></th>
                </tr>
            </thead>
                {% for work in works %}
                    <tr>
                        <td>
                            <a href="{% url 'work_detail' id=work.id %}">{{ work }}</a>
                        </td>
                        <td>{{ work.get_state_display }}</td>
                        <td>{{ work.create_date }}</td>
                        <td>
                            <a href="{% url 'work_detail' id=work.id %}">
                                <button type="button" class="btn btn-secondary btn-block btn-sm">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </form>
{% endblock %}
