{% extends "base.html" %}
{% block content %}
    <div>
        <h2 class="pb-5">{{ document.name }}</h2>
        <p class="text-muted"><small>{{ document.create_date }}</small></p>

        {% if doc_type == 'internal' %}
            <p>{{ document.version }}</p>
            <p>{{ document.running_no }}</p>
            <p>{{ document.release_date }}</p>
            <p>{{ document.get_type_display }}</p>
            <p>{{ document.get_status_display }}</p>
            <p>{{ document.get_state_display }}</p>
            <p>{{ document.parent_doc }}</p>
        {% elif doc_type == 'external' %}
            <p>{{ document.detail }}</p>
            <p>{{ document.modify_date }}</p>
        {% endif %}

        <iframe src="/content/{{ document.file_location }}" width="100%" height="500px"></iframe>
    </div>
    <br/><br/>
{% endblock content %}