{% extends "base.html" %}
{% block content %}
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        {{ filter_forms }}
        <button type="submit" class="btn btn-primary ml-3">Filter</button>
    </form>
    <table class="table mt-4">

        <thead>
        {% if doc_type == 'internal' %}
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Running No</th>
                <th scope="col">Release Date</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">State</th>
                <th scope="col">Next Review</th>
                <th scope="col">Parent Doc</th>
            </tr>
        {% endif %}

        {% if doc_type == 'external' %}
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Source</th>
                <th scope="col">Detail</th>
                <th scope="col">Modify date</th>
                <th scope="col">Detail</th>
            </tr>
        {% endif %}
        </thead>

        {% if doc_type == 'internal' %}
            {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.version }}</td>
                    <td>{{ document.running_no }}</td>
                    <td>{{ document.release_date }}</td>
                    <td>{{ document.get_type_display }}</td>
                    <td>{{ document.get_status_display }}</td>
                    <td>'***'</td>
                    <td>'***'</td>
                    {% if document.parent_doc.id == null %}
                        <td>'------'</td>
                    {% else %}
                        <td>
                            <a href="{% url 'internal_detail' id=document.id %}">
                                {{ document.parent_doc.name }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}

        {% if doc_type == 'external' %}
            {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.source }}</td>
                    <td>{{ document.detail }}</td>
                    <td>{{ document.modify_date }}</td>
                    <td>
                        <a href="{% url 'external_detail' id=document.id %}">
                            <div class="btn btn-info">Detail</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

