{% extends 'base.html' %}
{% block content %}
    <h2 class="pb-5">Dashboard</h2>
    {# Document Part #}
    <div class="row">
        {# Document Overview #}
        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card shadow py-2 bg-0" style="border-left:.25rem solid #ffffff !important">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 p-0">
                            <h5 style="font-size: 50px; margin-left: 1.75rem" class="mb-0"
                                id="doc_cnt">{{ doc_cnt }}</h5>
                        </div>
                        <div class="col-7 p-0">
                            <h3 class="card-title mb-0">Internal</h3>
                            <p class="card-text">Documents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card shadow  py-2 bg-0" style="border-left:.25rem solid #17a2b8 !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-file text-info fa-4x " aria-hidden="true"></i>
                        </div>
                        <div class="col ml-3">
                            <h3 class="card-title mb-0" id="doc_cnt_ob">{{ doc_cnt_in }}</h3>
                            <p class="card-text">In-Progress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card shadow  py-2 bg-0" style="border-left:.25rem solid #28a745 !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-arrow-circle-right text-success fa-4x " aria-hidden="true"></i>
                        </div>
                        <div class="col ml-3">
                            <h3 class="card-title mb-0" id="doc_cnt_ob">{{ doc_cnt_re }}</h3>
                            <p class="card-text">Released</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card shadow  py-2 bg-0" style="border-left:.25rem solid #dc3545 !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-ban text-danger fa-4x " aria-hidden="true"></i>
                        </div>
                        <div class="col ml-3">
                            <h3 class="card-title mb-0" id="doc_cnt_ob">{{ doc_cnt_ob }}</h3>
                            <p class="card-text">Obsoleted</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Document list last 10 #}
        <div class="col-12 col-lg-6">
            <div class="bg-0 pl-3 pr-1 pt-2 mt-3">
                <div class="row">
                    <div class="col-6">
                        <h4 class="m-0">Internal</h4>
                        <h4 class="m-0">Document</h4>
                    </div>
                    <div class="col-6 text-right">
                        <button onclick="updateInternalTable()" class="btn text-muted">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <p class="m-0 text-muted">Latest 10 Documents</p>
            </div>
            <table class="table table-borderless text-light" id="internal">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %} {# table internal doucument list in dashboard #}
                    <tr>
                        <td><a href="{% url 'doc_detail' id=document.id %}">{{ document.name|truncatechars:35 }}</a>
                        </td>
                        <td>{{ document.get_type_display }}</td>
                        {% if document.get_state_display == 'Released' %}
                            <td><span class="badge badge-pill badge-success">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'In-Progress' %}
                            <td><span class="badge badge-pill badge-info">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'Obsoleted' %}
                            <td><span class="badge badge-pill badge-danger">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'Recalled' %}
                            <td><span class="badge badge-pill badge-warning">{{ document.get_state_display }}</span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# Document In-Progress last 10 #}
        <div class="col-6 col-lg-3">
            <div class="bg-0 pl-3 pr-1 pt-2 mt-3">
                <div class="row">
                    <div class="col-9 pr-0">
                        <h4>Internal Document</h4>
                        <span class="badge badge-pill badge-info">In-Progress</span>
                    </div>
                    <div class="col-3 pl-0 text-right">
                        <button onclick="updateInternalTable()" class="btn text-muted">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-borderless text-light" id="progress">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for document_in in documents_in %} {# Inprogress #}
                    <tr>
                        <td>
                            <a href="{% url 'doc_detail' id=document_in.id %}">{{ document_in.name|truncatechars:20 }}</a>
                        </td>
                        <td class="text-center">{{ document_in.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# Document Released last 10 #}
        <div class="col-6 col-lg-3">
            <div class="bg-0 pl-3 pr-1 pt-2 mt-3">
                <div class="row">
                    <div class="col-9 pr-0">
                        <h4>Internal Document</h4>
                        <span class="badge badge-pill badge-success">Released</span>
                    </div>
                    <div class="col-3 pl-0 text-right">
                        <button onclick="updateInternalTable()" class="btn text-muted">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-borderless text-light" id="released">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for document_re in documents_re %}
                    <tr>
                        <td>
                            <a href="{% url 'doc_detail' id=document_re.id %}">{{ document_re.name|truncatechars:20 }}</a>
                        </td>
                        <td class="text-center">{{ document_re.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# Work Part #}
    <div class="row">
        {# Work Overview #}
        <div class="col-12 col-lg-6 mb-3 mb-lg-0 row">
            <div class="col-6">
                <div class="card bg-0 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <h1 class="font-l mb-0" id="work_cnt">{{ work_cnt }}</h1>
                            </div>
                            <div class="col-7 p-0">
                                <p class="card-text m-0">Total</p>
                                <h5 class="card-title m-0">Works</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-warning">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <h1 class="font-l mb-0" id="work_cnt_e">{{ work_cnt_e }}</h1>
                            </div>
                            <div class="col-7 p-0">
                                <p class="card-text m-0">Edit</p>
                                <h5 class="card-title m-0">Works</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-19">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <u class="text-success"><h1 class="font-l mb-0"
                                                            id="work_cnt_cr_d">{{ work_cnt_cr_d }}</h1>
                                </u>
                            </div>
                            <div class="col-7 p-0">
                                <h5 class="card-title m-0">Works</h5>
                                <p class="card-text m-0">Created Today</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-19">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <u class="text-success"><h1 class="font-l mb-0"
                                                            id="work_cnt_cr_w">{{ work_cnt_cr_w }}</h1>
                                </u>
                            </div>
                            <div class="col-7 p-0">
                                <h5 class="card-title m-0">Works</h5>
                                <p class="card-text m-0">Created this week</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-success mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <h1 class="font-l mb-0" id="work_cnt_cr">{{ work_cnt_cr }}</h1>
                            </div>
                            <div class="col-7 p-0">
                                <p class="card-text m-0">Create</p>
                                <h5 class="card-title m-0">Works</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <h1 class="font-l mb-0" id="work_cnt_ca">{{ work_cnt_ca }}</h1>
                            </div>
                            <div class="col-7 p-0">
                                <p class="card-text m-0">Cancel</p>
                                <h5 class="card-title m-0">Works</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-19">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <u class="text-success"><h1 class="font-l mb-0"
                                                            id="work_cnt_com_d">{{ work_cnt_com_d }}</h1>
                                </u>
                            </div>
                            <div class="col-7 p-0">
                                <h5 class="card-title m-0">Works</h5>
                                <p class="card-text m-0">Completed Today</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-19">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 p-0 text-center">
                                <u class="text-success"><h1 class="font-l mb-0"
                                                            id="work_cnt_com_w">{{ work_cnt_com_w }}</h1>
                                </u>
                            </div>
                            <div class="col-7 p-0">
                                <h5 class="card-title m-0">Works</h5>
                                <p class="card-text m-0">Completed this week</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#Work List last 10#}
        <div class="col-12 col-lg-6">
            <div class="bg-0 pl-3 pt-2">
                <div class="row">
                    <div class="col-6"><h4>Works</h4></div>
                    <div class="col-6 text-right">
                        <button onclick="updateWorkTable()" class="btn text-muted"><i class="fa fa-refresh"
                                                                                      aria-hidden="true"></i></button>
                    </div>
                </div>
                <p class="m-0 text-muted">Latest 10 Works</p>
            </div>
            <table class="table table-borderless text-light" id="work">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Related Document</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                    {#                    <th scope="col">Create Date</th>#}
                </tr>
                </thead>
                <tbody>
                {% for work in works %}
                    <tr>
                        <td><a href="{% url 'work_detail' id=work.id %}">{{ work|truncatechars:30 }}</a></td>

                        {% if work.get_type_display == 'Create' %}
                            <td><span class="badge badge-pill badge-success">{{ work.get_type_display }}</span></td>
                        {% elif work.get_type_display == 'Edit' %}
                            <td><span class="badge badge-pill badge-warning">{{ work.get_type_display }}</span></td>
                        {% elif work.get_type_display == 'Cancel' %}
                            <td><span class="badge badge-pill badge-danger">{{ work.get_type_display }}</span></td>
                        {% endif %}

                        <td>{{ work.get_state_display }}</td>
                        {#                        <td>{{ work.create_date|date:"d-M-Y" }} {{ work.create_date|time:"H:i" }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        let items = [];

        let formatDate = (date) => {
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            return `${date.getDate()}-` +
                `${months[date.getMonth()]}-` +
                `${date.getFullYear()} ` +
                `${date.getHours().toString().padStart(2, '0')}:` +
                `${date.getMinutes().toString().padStart(2, '0')}`;
        };

        function updateWorkTable() {
            axios.get('document/api/work/') {# work list #}
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#work > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./work/${item.id}">${item.document_name}</a></td>
                        `;
                        if (item.type_name === 'Create') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-success">${item.type_name}</span></td>`;
                        } else if (item.type_name === 'Edit') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-warning">${item.type_name}</span></td>`;
                        } else if (item.type_name === 'Cancel') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-danger">${item.type_name}</span></td>`;
                        }

                        elem.innerHTML += `
                            <td>${item.state_name}</td>
                            {#<td>${formatDate(new Date(item.create_date))}</td>#}
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })
        }

        function updateInternalTable() {
            axios.get('document/api/internal/progress/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#progress > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type}</td>
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                });

            axios.get('document/api/internal/released/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#released > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type}</td>
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                });

            axios.get('document/api/internal/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#internal > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type_name}</td>
                        `;
                        if (item.state_name === 'Released') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-success">${item.state_name}</span></td>`;
                        } else if (item.state_name === 'In-Progress') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-info">${item.state_name}</span></td>`;
                        } else if (item.state_name === 'Obsoleted') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-danger">${item.state_name}</span></td>`;
                        } else if (item.state_name === 'Recalled') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-warning">${item.state_name}</span></td>`;
                        }
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })
        }

        setInterval(() => {
            axios.get('document/api/work_cnt/')
                .then(function (response) {
                    items = response.data;
                    document.getElementById("work_cnt").innerText = items.cnt;
                    document.getElementById("work_cnt_cr").innerText = items.cr;
                    document.getElementById("work_cnt_e").innerText = items.e;
                    document.getElementById("work_cnt_ca").innerText = items.ca;
                    document.getElementById("work_cnt_cr_w").innerText = items.cr_w;
                    document.getElementById("work_cnt_com_w").innerText = items.com_w;
                    document.getElementById("work_cnt_cr_d").innerText = items.cr_d;
                    document.getElementById("work_cnt_com_d").innerText = items.com_d;
                })
                .catch(function (error) {
                    console.log(error)
                });
            axios.get('document/api/internal_cnt/')
                .then(function (response) {
                    items = response.data;
                    document.getElementById("doc_cnt").innerText = items.cnt;
                    document.getElementById("doc_cnt_in").innerText = items.in;
                    document.getElementById("doc_cnt_re").innerText = items.re;
                    document.getElementById("doc_cnt_ob").innerText = items.ob;
                })
                .catch(function (error) {
                    console.log(error)
                })
        }, 1000);
    </script>
{% endblock %}