{% extends 'base.html' %}
{% block content %}
    <h2 class="pb-5">Dashboard</h2>
    <button onclick="UpdateTableWork()">Re Work</button>
    <button onclick="UpdateTableInternal()">Re Internal</button>
    <div class="row">
{#Document Overview#}
        <div class="col-3">
            <div class="card bg-0">
                <div class="card-body">
                    <h5 class="card-title" id="doc_cnt">{{ doc_cnt }}</h5>
                    <p class="card-text">Internal Document</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-spinner text-info font-l" aria-hidden="true"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title" id="doc_cnt_in">{{ doc_cnt_in }}</h5>
                            <p class="card-text">In-Progress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-arrow-circle-right text-success font-l" aria-hidden="true"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title" id="doc_cnt_re">{{ doc_cnt_re }}</h5>
                            <p class="card-text">Released</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-ban text-warning font-l" aria-hidden="true"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title" id="doc_cnt_ob">{{ doc_cnt_ob }}</h5>
                            <p class="card-text">Obsoleted</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#Document list last 10#}
        <div class="col-6">
            <table class="table table-borderless text-light" id="internal">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %} {# table internal doucument list in dashboard #}
                    <tr>
                        <td><a href="{% url 'doc_detail' id=document.id %}">{{ document.name }}</a></td>
                        <td>{{ document.get_type_display }}</td>
                        {% if document.get_state_display == 'Released' %}
                            <td><span class="badge badge-pill badge-success">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'In-Progress' %}
                            <td><span class="badge badge-pill badge-info">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'Obsoleted' %}
                            <td><span class="badge badge-pill badge-warning">{{ document.get_state_display }}</span>
                            </td>
                        {% elif document.get_state_display == 'Recalled' %}
                            <td><span class="badge badge-pill badge-danger">{{ document.get_state_display }}</span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{#Document In-Progress last 10#}
        <div class="col-3">
            <table class="table table-borderless text-light" id="progress">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for document_in in documents_in %} {# inprogresssssssssssssssssssssssssssssssssssssssssssssssssss #}
                    <tr>
                        <td><a href="{% url 'doc_detail' id=document_in.id %}">{{ document_in.name }}</a></td>
                        <td>{{ document_in.get_type_display }}</td>
                        <td><span class="badge badge-pill badge-info">{{ document_in.get_state_display }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{#Document Released last 10#}
        <div class="col-3">
            <table class="table table-borderless text-light" id="released">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for document_re in documents_re %} {# inprogresssssssssssssssssssssssssssssssssssssssssssssssssss #}
                    <tr>
                        <td><a href="{% url 'doc_detail' id=document_re.id %}">{{ document_re.name }}</a></td>
                        <td>{{ document_re.get_type_display }}</td>
                        <td><span class="badge badge-pill badge-success">{{ document_re.get_state_display }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-borderless text-light" id="work">
                <thead class="bg-0">
                <tr>
                    <th scope="col">Related Document</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                    <th scope="col">Create Date</th>
                </tr>
                </thead>
                <tbody>
                {% for work in works %}
                    <tr>
                        <td><a href="{% url 'work_detail' id=work.id %}">{{ work }}</a></td>

                        {% if work.get_type_display == 'Create' %}
                            <td><span class="badge badge-pill badge-success">{{ work.get_type_display }}</span></td>
                        {% elif work.get_type_display == 'Edit' %}
                            <td><span class="badge badge-pill badge-warning">{{ work.get_type_display }}</span></td>
                        {% elif work.get_type_display == 'Cancel' %}
                            <td><span class="badge badge-pill badge-danger">{{ work.get_type_display }}</span></td>
                        {% endif %}

                        <td>{{ work.get_state_display }}</td>
                        <td>{{ work.create_date|date:"d-M-Y" }} {{ work.create_date|time:"H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        var items = []

        let formatDate = (date) => {
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            return `${date.getDate()}-` +
                `${months[date.getMonth()]}-` +
                `${date.getFullYear()} ` +
                `${date.getHours().toString().padStart(2, '0')}:` +
                `${date.getMinutes().toString().padStart(2, '0')}`;
        };

        function UpdateTableWork() {
            axios.get('document/api/work/') {# work list #}
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#work > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./work/${item.id}">${item.document_name}</a></td>
                        `;
                        if (item.type_name == 'Create') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-success">${item.type_name}</span></td>`;
                        } else if (item.type_name == 'Edit') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-warning">${item.type_name}</span></td>`;
                        } else if (item.type_name == 'Cancel') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-danger">${item.type_name}</span></td>`;
                        }

                        elem.innerHTML += `
                            <td>${item.state_name}</td>
                            <td>${formatDate(new Date(item.create_date))}</td>
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })
        }

        function UpdateTableInternal() {
            axios.get('document/api/internal/progress/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#progress > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type_name}</td>
                            <td><span class="badge badge-pill badge-info">${item.state_name}</span></td>
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })

            axios.get('document/api/internal/released/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#released > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type_name}</td>
                            <td><span class="badge badge-pill badge-success">${item.state_name}</span></td>
                        `;
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })

            axios.get('document/api/internal/')
                .then(function (response) {
                    items = response.data;
                    let tbody = document.querySelector("#internal > tbody");
                    tbody.innerHTML = "";
                    items.forEach((item) => {
                        let elem = document.createElement("tr");
                        elem.innerHTML = `
                            <td><a href="./document/detail/${item.id}">${item.name}</a></td>
                            <td>${item.type_name}</td>
                        `;
                        if (item.state_name == 'Released') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-success">${item.state_name}</span></td>`;
                        } else if (item.state_name == 'In-Progress') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-info">${item.state_name}</span></td>`;
                        } else if (item.state_name == 'Obsoleted') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-warning">${item.state_name}</span></td>`;
                        } else if (item.state_name == 'Recalled') {
                            elem.innerHTML += `<td><span class="badge badge-pill badge-danger">${item.state_name}</span></td>`;
                        }
                        tbody.appendChild(elem);
                    })
                })
                .catch(function (error) {
                    console.log(error)
                })
        }

        setInterval(() => {
            axios.get('document/api/work_cnt/')
                .then(function (response) {
                    items = response.data;
                    document.getElementById("work_cnt").innerText = items.cnt;
                    document.getElementById("work_cnt_cr").innerText = items.cr;
                    document.getElementById("work_cnt_e").innerText = items.e;
                    document.getElementById("work_cnt_ca").innerText = items.ca;
                })
                .catch(function (error) {
                    console.log(error)
                });
            axios.get('document/api/internal_cnt/')
                .then(function (response) {
                    items = response.data;
                    document.getElementById("internal_cnt").innerText = items.cnt;
                    document.getElementById("internal_cnt_in").innerText = items.in;
                    document.getElementById("internal_cnt_re").innerText = items.re;
                    document.getElementById("internal_cnt_ob").innerText = items.ob;
                })
                .catch(function (error) {
                    console.log(error)
                })
        }, 1000);
    </script>
{% endblock %}